<script src="//maps.google.com/maps/api/js?key=AIzaSyCVRckajyyjIb3MPhMRI3aE3jgcjjDBerI"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<div class="center jumbotron">
  <% provide(:title, 'Strona główna') %>
  <h1>Witaj w salonie samochodowym!</h1>

  <h2>
    Na tej stronie znajdziesz swój wymarzony samochód.
  </h2>

  <%= 
  	if logged_in?
  	  link_to "Znajdź samochód", cars_path, class: "btn btn-lg btn-default"
  	else
  	  link_to "Zaloguj się, aby dodawać samochody", login_path, class: "btn btn-lg btn-default"
  	end
  %>
</div>

<div class="center jumbotron">
  <h3><strong>Firmy korzystające z naszych usług</strong></h3>
  <div id="map" style='width: 600px; height: 500px; left: 20%;'></div>
</div>  

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>