<div class="center jumbotron">
  <% provide(:title, 'Strona główna') %>
  <h1>Witaj w salonie samochodowym!</h1>

  <h2>
    Na tej stronie znajdziesz swój wymarzony samochód.
  </h2>

  <%= 
  	if logged_in?
  	  link_to "Znajdź samochód", cars_path, class: "btn btn-lg btn-primary"
  	else
  	  link_to "Zaloguj się, aby dodawać samochody", login_path, class: "btn btn-lg btn-primary"
  	end
  %>
</div>