ul.cars-list {
	list-style-type: none;
	list-style-position: inside;
}

li.car-element {
	float: left;
	border-radius: 8px;
	background: #ccc;
	margin: 10px;
	text-align: center;
}

img {
	margin: 10px;
}

.lead {
	text-align: center;
}

#footer {
	float: right;
}